.modal-dialog-box {
    height: 40px !important;
    width: 50% !important;
  }


  .modal-title {
    margin-bottom: 0 !important;
  }

  .header,.footer{
    height: 55px !important;
  }

  .modal-content{
   
    width: 65% !important;
}

.modal-body{
      padding-bottom: 0 !important;

  }

