
  <!-- <div class="row">
    <div class="col-12">
      <mat-card appearance="outlined" class="card">
        <mat-card-content>
          <p>
            First Create a Resale Quotation is edited independently. Resale
            Quotation should support the Q-Data configuration requirements.
          </p>
          <p>
            Click on
            <img
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              src="assets/plus-icon.png"
              alt="Add New Resale Quotation"
            />
            to add new resale Quotation.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->

  <div class="row">
    <div class="col-12">
      <div>

      </div>
      <div>
        <p>
          First Create a Resale Quotation is edited independently. Resale
          Quotation should support the Q-Data configuration requirements.
        </p>
        <p>
          Click on
          <img
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            src="assets/plus-icon.png"
            alt="Add New Resale Quotation"
          />
          to add new resale Quotation.
        </p>
      </div>
    </div>
  </div>


