<div>
  <div class="row text-white rowhead">
    <div class="col-3 logo">
      <img src="assets/logo.png " alt="Logo" />
    </div>
    <div class="col-8 my-2  ">
      <div class="text-left label1   ">PA Global Operations</div>


      <!-- <div class="label2">
        
        <a href="http://localhost:4200/">Solution Portal > </a>  Opportunity    Configurator 
      </div> -->
      <div class="label2   " style="font-size: 25px;">
        <a href="http://localhost:4200/
        " >Solution Portal >   </a>  <a> Opportunity > </a> <a> Configurator </a>
      </div>
    </div>
    <div class="col-1 py-4  " style="margin-left: 40px;">
      Pooja Bhise
        </div>
  </div>
</div> 
