<div>
  <div class="row py-2 px-3 {
    position: fixed;
    width: 100%;

} ">
    <div class="col-2 py-3 Opp-id">OP-190809-8779791</div>
    <div class="col-10" style="color: rgb(164, 159, 159)">
      ST JAMES PARESH GRASSROOT PETEROCHEMICALS COMPLEX PHASE I NORTH SIS/F &G
      <div>Status : 0 - Closed</div>
    </div>
  </div>

  <!-- <div class="row ">
    <div class="col-2 box px-0  full-height">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 box">
      <router-outlet></router-outlet>
    </div>
  </div> -->
</div>
