.box{
    border: 1px solid rgb(233, 232, 232);
    height: 100vh;
}

.Opp-id{
    color:#3dcd58;
    font-size : 21px;
    font-weight: 500;
} 


// rgb(164, 159, 159)

.sidebar{
    border: 1px solid black;
}

.full-height {
    height: 100% !important;
    // position: fixed;
    // width: 30%;

  }
  
  .opp-head{
    position: fixed;
    width: 100%;

}



